<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">

  <h4>Dishes</h4>
    <%= f.fields_for :dishes do |builder| %>
        <%= render 'dish_fields', f: builder %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "Add Dish", f, :dishes %>
    </div>
  </div>

  <h4>Events</h4>
    <%= f.fields_for :events do |builder| %>
        <%= render 'event_fields', f: builder %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "Add Event", f, :events %>
    </div>
  <div class="actions">
    <%= f.submit data: {no_turbolink: "true"} %>
  </div>
<% end %>
