<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>


<div class="row vendor-hero" id="hero">
  <div class="contain">
    <div class="col-sm-12">
      <h1 class="title"><%= @vendor.name %></h1>
    </div>
  </div>
</div>

<div class="row" id="vendor-body">
  <div class="contain">

    <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <table class="table vendor-menu">
              <thead>
              </thead>
              <tbody>
                <%= render @dishes %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-sm-4">
      <div class="panel">
        <div id="cal"></div>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>
</div>

<div class="row" id="vendor-cal">
  <div class="contain">
    <div class="col-sm-12">
      
    </div>
  </div>
</div>

<div class="row" id="vendor-links">
  <div class="contain">
    <div class="col-sm-12">
      <%= link_to 'Edit', edit_vendor_path(@vendor) %> |
      <%= link_to 'Back', vendors_path %>
    </div>
  </div>
</div>


